@import url('https://fonts.googleapis.com/css?family=Roboto');

$slider-width: 400px;
$slider-height: 550px;



.slider {
	position: relative;
	display: block;
margin-top: 30px;
  width: $slider-width;
  height: $slider-height;
  
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: $slider-width;
  height: $slider-height;
  z-index: 1;
}

.slides {
  display: flex;
  position: relative;

  left: -$slider-width;
  width: 10000px;
}

.slides.shifting {
  transition: left .2s ease-out;
}

.slide {
  width: $slider-width;
  height: $slider-height;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  
  border-radius: 2px;
}

.slider.loaded {
  .slide:nth-child(2){
	background-image: url(./images/sert1.png) ;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
  }
  .slide:nth-child(7) { background-image: url(./images/sert2.png) ;
background-repeat: no-repeat;
background-size: contain;
background-position: center;}
  .slide:nth-child(1){
	background-image: url(./images/sert3.png) ;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
  }
  .slide:nth-child(6) { background-image: url(./images/sert4.png) ;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;}
  .slide:nth-child(3) {background-image: url(./images/sert5.png) ;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;}
  .slide:nth-child(4) { background-image: url(./images/sert6.png) ;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; }
  .slide:nth-child(5) { background-image: url(./images/sert7.png) ;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; }
}

.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: -20px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: -20px;
}

.prev:active,
.next:active {
  transform: scale(.8);
}